---
import Link from "./Link.astro";
import ThemeToggler from "./ThemeToggler.astro";

const navmenu = [
  { navLabel: "home", navPath: "/" },
  { navLabel: "guides", navPath: "/guides" },
  { navLabel: "about", navPath: "/about" },
];
const currentpath = Astro.url.pathname;
---

<nav
  class="w-full flex items-center justify-between py-4 px-4 bg-gray-200 dark:bg-gray-950"
>
  <a>
    <strong
      class="dark:text-gray-300 text-gray-800 text-shadow text-shadow-red-500 text-xl uppercase"
    >
      logo
    </strong>
  </a>

  <ul class="md:flex gap-2 hidden">
    {
      navmenu.map((menu) => (
        <li>
          {currentpath === menu.navPath ? (
            <Link
              textContent={menu.navLabel}
              url={menu.navPath}
              style="link-highlight"
            />
          ) : (
            <Link
              textContent={menu.navLabel}
              url={menu.navPath}
              style="none"
            />
          )}
        </li>
      ))
    }
  </ul>

  <!-- <ThemeToggler client:load /> -->

  <span
    class="material-symbols-outlined dark:text-gray-400 text-gray-800 block sm:hidden cursor-pointer"
    id="menuToggler"
  >
    menu
  </span>
</nav>

<!-- for mobile nav only -->
<div
  id="asideWrapper"
  class="bg-gray-800/30 w-full h-full absolute top-0 -left-full duration-100"
>
  <aside
    class="w-3/5 h-full dark:bg-gray-800 bg-gray-100 pl-10 absolute top-0 left-0"
  >
    <ul class="md:flex gap-2 flex-col">
      {
        navmenu.map((menu) => (
          <li>
            {currentpath === menu.navPath ? (
              <Link
                textContent={menu.navLabel}
                url={menu.navPath}
                style="link-highlight"
              />
            ) : (
              <Link
                textContent={menu.navLabel}
                url={menu.navPath}
                style="outlined"
              />
            )}
          </li>
        ))
      }
    </ul>
  </aside>
</div>

<script>
  const menuToggler = document.getElementById("menuToggler");
  const asideWrapper = document.getElementById("asideWrapper");
  const menuCloseBtn = document.getElementById("menuCloseBtn");

  menuToggler?.addEventListener("click", (e) =>
    asideWrapper?.classList.contains("left-0")
      ? asideWrapper.classList.replace("left-0", "-left-full")
      : asideWrapper?.classList.replace("-left-full", "left-0")
  );
  asideWrapper?.addEventListener("click", (e) =>
    asideWrapper?.classList.contains("left-0")
      ? asideWrapper.classList.replace("left-0", "-left-full")
      : asideWrapper?.classList.replace("-left-full", "left-0")
  );
  menuCloseBtn?.addEventListener("click", (e) =>
    asideWrapper?.classList.contains("left-0")
      ? asideWrapper.classList.replace("left-0", "-left-full")
      : asideWrapper?.classList.replace("-left-full", "left-0")
  );
</script>
